@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #6990f2;
}

.wrapper{
    width: 430px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.wrapper header{
    color: #6990f2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper form{
    height: 167px;
    display: flex;
    margin: 30px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990f2; 
}

form :where(i, p){
    color: #6990f2;
}

form i{
    font-size: 50px;
}
form p{
    font-size: 16px;
    margin-top: 15px;
}

section .row{
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius:  5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    font-size: 30px;
    color: #6990f2;
}

section .row .content{
    width: 100%;
    margin-left: 15px;
}

section .details span{
    font-size: 14px;
}

.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}

.progress-area .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.progress-bar .progress{
    height: 100%;
    width: 0%;
    background-color: #6990f2;
    border-radius: inherit;
}
.uploaded-area{
    max-height: 230px;
    overflow-y: scroll;
}
.uploaded-area.onprogress{
    max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .content{
    display: flex;
    align-items: center;
}

.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.uploaded-area .fa-check{
    font-size: 16px;
}
